@import "tailwindcss";

html,body{
  width: 100%;
  overflow-x:hidden;
  box-sizing:  border-box;
}
@theme inline{
  --font-poppins: var(--font-poppins);
  --font-ibmplexmono: var(--font-ibmplexmono);
}
/* Heading responsiveness */
.heading {
  @apply font-semibold text-[68px] max-xl:text-5xl max-lg:text-4xl max-sm:text-2xl ;
}
*, ::before, ::after {
  box-sizing: border-box;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-slide {
  animation: slide 40s linear infinite;
}
.heading-with-dot::after {
  content: ".";
  color: #E84D00;
  margin-left: 4px;
}
.swiper-slide{
  width: fit-content !important;
}




